<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLySV_LINQ.Properties.Settings.QuanLySVDBConnectionString"
            connectionString="Data Source=PHI-LONG-TECHNO;Initial Catalog=QuanLySVDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>