<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CshapeWinforBasic.Properties.Settings.ADO_NET_DemoConnectionString" connectionString="Data Source=PHI-LONG-TECHNO\SQLEXPRESS;Initial Catalog=ADO_NET_Demo;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CshapeWinforBasic.Properties.Settings.imageConnectionString" connectionString="Data Source=PHI-LONG-TECHNO\SQLEXPRESS;Initial Catalog=image;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="imageEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHI-LONG-TECHNO\SQLEXPRESS;initial catalog=image;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>